/*custom-font*/

@font-face {
      font-family: poppin_regular;
      src: url(font/Poppins-Regular.ttf);
}

@font-face {
      font-family: poppin_semibold;
      src: url(font/Poppins-SemiBold.ttf);
}

@font-face {
      font-family: poppin_bold;
      src: url(font/Poppins-Bold.ttf);
}

body {
  font-family: poppin_regular;
}

html {
  scroll-behavior: smooth;
}

/*NAVIGATION*/

.navbar{
	background-color: #f0bb72;
}

/* change the link color and add padding for height */
.mainNav .navbar-nav .nav-link {
    color: black;
    padding: 6px 10px;
}

/* change the color of active or hovered links */
.mainNav .nav-item.active .nav-link,
.mainNav .nav-item:hover .nav-link {
    color: #ffffff;
    background-color: #58595b; /* add background-color to active links */
    border-radius: 5px;
}

/*HOME SECTION*/
.home-section {
  height: 100%;
  padding-top: 4rem;
}

/*F&B DATA SECTION*/

.fnb-section {
  height: 100%;
  padding-top: 5rem;
}

.foodProfile{
    background-color: #f0bb72;
    box-shadow: 5px 5px rgba(0,0,0, 0.4);
    border-radius: 5px;
}

#logo{
	height: 50px;
	width: auto;
}

#field_label{
	font-family: poppin_semibold;
}

#nutrition{
	height: 50%;
	width: auto;
}

/*Transportation Status*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: #;
    padding-left: 0px;
    margin-top: 30px
}

#progressbar li {
    list-style-type: none;
    font-size: 13px;
    width: 33.33%;
    float: left;
    position: relative;
    font-weight: 400;
    color: # !important
}

#progressbar #step1:before {
    content: "1";
    color: #fff;
    width: 29px;
    margin-left: 15px !important;
    padding-left: 13px !important
}

#progressbar #step2:before {
    content: "2";
    color: #fff;
    width: 29px
}

#progressbar #step3:before {
    content: "3";
    color: #fff;
    width: 29px;
    margin-right: 15px !important;
    padding-right: 11px !important
}

#progressbar li:before {
    line-height: 29px;
    display: block;
    font-size: 12px;
    background: #f0bb72;
    border-radius: 50%;
    margin: auto
}

#progressbar li:after {
    content: '';
    width: 121%;
    height: 2px;
    background: #f0bb72;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 15px;
    z-index: -1
}

#progressbar li:nth-child(2):after {
    left: 50%
}

#progressbar li:nth-child(1):after {
    left: 25%;
    width: 121%
}

#progressbar li:nth-child(3):after {
    left: 25% !important;
    width: 50% !important
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #58595b
}

/*ABOUT US SECTION*/

.about-section {
  height: 100%;
  padding-top: 5rem;
}

#fbIcon, #igIcon{
      color: #f0bb72;
}

iframe{
      box-shadow: 5px 5px rgba(0,0,0, 0.4);
      border-radius: 5px;
}

.inquiry{
      background-color: #f0bb72;
      box-shadow: 5px 5px rgba(0,0,0, 0.4);
      border-radius: 5px;
}

/*FAQ*/
.faq-section {
  height: 100%;
  padding-top: 5rem;
}
